<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ML_Checkout::1_menu_item"
             title="Custom Checkout Fields" module="ML_Checkout"
             sortOrder="1"
             action="adminhtml/system_config/edit/section/custom_menu_section"
             parent="Magento_Backend::system_other_settings"
             resource="ML_Checkout::menu_2"/>
    </menu>
</config>
