<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="customisation_settings_section_tab" translate="label" sortOrder="10">
            <label>Custom Checkout Settings</label>
        </tab>
        <!-- for create section -->
        <section id="custom_checkout_section" translate="label" type="text" sortOrder="60" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Custom Checkout Settings</label>
            <!-- Assign section to tab -->
            <tab>customisation_settings_section_tab</tab>
            <resource>ML_Checkout::configuration</resource>
            <!--create group for fields in section-->
            <group id="custom_checkout_general_settings" translate="label" type="select" sortOrder="5" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Configurations</label>

                <field id="use_custom_checkout" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Use Custom Fields</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <group id="custom_menu_settings" translate="label" type="select" sortOrder="15"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Checkout configurations</label>
                    <depends>
                        <field id="use_custom_menu">1</field>
                    </depends>
                    <field id="version" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Show all categories</label>
                        <frontend_model>ML\Checkout\Block\Adminhtml\System\Config\Form\Main</frontend_model>
                    </field>

                    <field id="additional_fields" translate="label" type="select" sortOrder="61" showInDefault="1"
                           showInWebsite="1" showInStore="1">
                        <label>Add additional text fields</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="additional_field_1" translate="label" type="select" sortOrder="62" showInDefault="1"
                           showInWebsite="1" showInStore="1">
                        <label>Add text field</label>
                        <depends>
                            <field id="additional_fields">1</field>
                        </depends>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="additional_field_1_label" translate="label" type="text" sortOrder="63" showInDefault="1"
                           showInWebsite="1"
                           showInStore="1">
                        <label>Label</label>
                        <validate>required-entry</validate>
                        <depends>
                            <field id="additional_field_1">1</field>
                        </depends>
                    </field>


                    <field id="additional_link_1_name" translate="label" type="text" sortOrder="64" showInDefault="1"
                           showInWebsite="1"
                           showInStore="1">
                        <label>Field Name &amp; Id</label>
                        <validate>required-entry</validate>
                        <depends>
                            <field id="additional_field_1">1</field>
                        </depends>
                    </field>
                    <field id="additional_field_1_class" translate="label" type="text" sortOrder="65" showInDefault="1"
                           showInWebsite="1"
                           showInStore="1">
                        <label>Class</label>
                        <validate>required-entry</validate>
                        <depends>
                            <field id="additional_field_1">1</field>
                        </depends>
                    </field>
                </group>

            </group>
        </section>
    </system>
</config>