<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <custom_checkout_section>
            <custom_checkout_general_settings>
                <use_custom_checkout>1</use_custom_checkout>
                <custom_checkout_settings>
                    <custom_checkout_fields_settings>
                        <additional_field_1>0</additional_field_1>
                        <additional_field_1_label></additional_field_1_label>
                        <additional_field_1_name></additional_field_1_name>
                        <additional_field_1_class></additional_field_1_class>
                        <additional_field_2>0</additional_field_2>
                        <additional_field_2_label></additional_field_2_label>
                        <additional_field_2_name></additional_field_2_name>
                        <additional_field_2_class></additional_field_2_class>
                        <additional_field_3>0</additional_field_3>
                        <additional_field_3_label></additional_field_3_label>
                        <additional_field_3_name></additional_field_3_name>
                        <additional_field_3_class></additional_field_3_class>
                        <additional_field_4>0</additional_field_4>
                        <additional_field_4_label></additional_field_4_label>
                        <additional_field_4_name></additional_field_4_name>
                        <additional_field_4_class></additional_field_4_class>

                    </custom_checkout_fields_settings>

                </custom_checkout_settings>
            </custom_checkout_general_settings>
        </custom_checkout_section>
    </default>
</config>
